ICSimStim/bird
ICSimStim/mouse
ICSimStim/STRF
ripple-stimuli
run/
simData-ripple
params-ripple
solve/
data_fitted/
simData/
SNN_optimization/data/
solve/sim19/solve_ode_20210714153755_458.m
solve/sim19/params.mat
solve/sim18/solve_ode_20210714153757_018.m
solve/sim18/params.mat
solve/sim17/solve_ode_20210714153758_658.m
solve/sim17/params.mat
solve/sim16/solve_ode_20210714153800_211.m
solve/sim16/params.mat
solve/sim15/solve_ode_20210714153801_601.m
solve/sim15/params.mat
solve/sim14/solve_ode_20210714153802_895.m
solve/sim14/params.mat
solve/sim13/solve_ode_20210714153804_313.m
solve/sim13/params.mat
solve/sim12/solve_ode_20210714153805_913.m
solve/sim12/params.mat
solve/sim11/solve_ode_20210714153807_370.m
solve/sim11/params.mat
solve/sim10/solve_ode_20210714153808_769.m
solve/sim20/solve_ode_20210714153753_268.m
solve/sim3/params.mat
solve/sim3/solve_ode_20210714153818_513.m
solve/sim4/params.mat
solve/sim4/solve_ode_20210714153817_090.m
solve/sim5/params.mat
solve/sim5/solve_ode_20210714153815_731.m
solve/sim6/params.mat
solve/sim6/solve_ode_20210714153814_310.m
solve/sim7/params.mat
solve/sim7/solve_ode_20210714153812_950.m
solve/sim8/params.mat
solve/sim8/solve_ode_20210714153811_641.m
solve/sim9/params.mat
solve/sim9/solve_ode_20210714153810_178.m
.DS_Store
*.png
temp/preprocessed_stim_1.mat
spikingNetwork_puretiming.m
solve/solve_ode_20211019123258_587.m
solve/solve_ode_20211019123223_170.m
solve/solve_ode_20211019123209_172.m
solve/solve_ode_20211019123200_339.m
solve/solve_ode_20211019123142_388.m
solve/solve_ode_20211019123129_826.m
solve/solve_ode_20211019123118_435.m
solve/params.mat
sepkerneltensor.m
run_SpikingNetwork_offset.m
run_SpikingNetwork_main.m
run_SpikingNetwork_L4.m
run_SpikingNetwork_adaptation.m
mechs/synDoubleExp_variablegSYN_V2.mech
mechs/synDoubleExp_variablegSYN.mech
mechs/synDoubleExp_V2.mech
mechs/synDoubleExp_test1.mech
mechs/synDoubleExp_LTP.mech
mechs/synDoubleExp.mech
mechs/storeSpks.m
mechs/nonhomPoissonGeneratorSpikeTimes.m
mechs/iPSC_LTP_old.mech
mechs/iNoise.mech
birdNetwork.m
birdNetwork_V2.m
birdNetwork_V3.m
EPSC, voltage, and condutance.fig
EPSC and Voltage.fig
example C cell dynamics.fig
ICSimStim/InputGaussianSTRF.m
ICSimStim/InputGaussianSTRF_main.m
example response in dud channel.fig
ICSimStim/InputGaussianSTRF_v2.m
ICSimStim/InputGaussianSTRF_v3.m
ICSimStim/STRFconvolve.m
ICSimStim/STRFgen.m
InputGaussianSTRF_tone.m
mat files/bestgrantsim.mat
mat files/examplecell.mat
mat files/grant_grid.mat
mechs/dsSynapse.mech
mechs/dummy.mech
mechs/getGenExtPoissonTotalGating.m
mechs/getPoissonGating.m
mechs/IC_input.mech
mechs/IF.pop
mechs/iH_d.mech
mechs/iH_V2.mech
*.fig
ICSimStim/temp/preprocessed_stim_1.mat
ICSimStim/preprocessed_stims.mat
ICSimStim/temp/preprocessed_stim_1.mat
dontusethese.m
*.mat
*.tmp
Ince et al.pdf
simData-AM
SpikingNetwork_Ripple.m
postProcessRipple.m
ICSimStim/temp/preprocessed_stim_1.mat
ICSimStim/STRF_Ripple.m
ICSimStim/temp/preprocessed_stim_1.mat
